/node_modules
/public/workflow
/public/storage
/public/deploy.php
/vendor
/.idea
/.vagrant
/.vscode
.DS_Store
*/.DS_Store
/src
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.phpstorm.meta.php
.env
/nbproject/private/